<div class="client-description">
    <h2 class="header">Client Stay date<h2>
    <p>Checkin Date: {{checkin}} </p>
    <p>Checkout Date: {{checkout}} </p>
    <p>Adults: {{adults}} </p>
</div>

<div class="rooms-available">
    {{#each rooms }}
    <div class="rooms">
        {{#each this}}
        <h3>{{this.name}}<h3>
            {{/each}}
        <div class="img"></div>
        {{#each this}}
        <p>{{this.available}}</p>
        {{/each}}
        {{#each this}}
        <p>{{this.bed}}</p>
        {{/each}}
        {{#each this}}
        <p>{{this.kind}}</p>
        {{/each}}
        {{#each this}}
        <p>{{this.price}}</p>
        {{/each}}
        <input type="button" value="add to cart" name="in" id="addcart">
    </div>
    {{/each}}
</div>

