<main class="rooms-page">
    
    <section class="room-landing-page">
        <img src="/assets/KBG4.jpg" class="landing-page__img" alt="" srcset="">
        <div class="landing-page__container">
            <h1 class="landing-page__header">rooms</h1>
            <p class="landing-page__parg">our rooms are where guests can relax and unwind, whilst enjoying the peacefulness of this quiet set in ethiopia addis ababa city.</p>
            <p class="landing-page__parg">quality is guaranteed</p>
            <div class="landing-page__link-container">
                <a href="" class="primary-btn landing-page__link">book now</a>
                <a href="" class="primary-btn landing-page__link">contact</a>
            </div>
        </div>
    </section>
    <section class="rooms-container">
        <div class="rooms-container__filter">
            {{#if booked}}
               <p class="rooms-container__date"><span>checked in:</span> {{checkin}}</p> 
               <p class="rooms-container__date"><span>checked out:</span>{{checkout}}</p>           
               <p class="rooms-container__date"><span>adults per room:</span> {{adults}}</p>
            {{else}}
            <a class="rooms-container__btn" href="">View All</a>
            {{/if}}
              
        </div>
        <div class="rooms-container__wrapper">
            {{#each rooms}}
            <div class="rooms-container__room">
                <img class="rooms-container__img" src="/assets/KBG4.jpg" alt="">
                {{#each this}}<h3 class="rooms-container__header">{{this.name}}</h3>{{/each}}
                <p class="rooms-container__parg">location: 3RD  floor</p>
                 <p class="rooms-container__parg">Bed Type:{{#each this}} {{this.kind}}{{/each}}</p> 
                <p class="rooms-container__parg">Room Occupancy:{{#each this}}{{this.bed}} {{/each}} guests</p>
                <a href="" class="primary-btn rooms-container__link">Book Now</a>
            </div>
         
            {{/each}}
        </div>
    </section>
</main>