<main class="rooms-page">
    {{> includes/hero 
    img = "KBG4.jpg"
    header = "rooms"
    parg = "our rooms are where guests can relax and unwind, whilst enjoying the peacefulness of this quiet set in ethiopia addis ababa city."
    parg-below = "quality is guaranteed"

   }}
    <section class="rooms-container">
        <div class="rooms-container__filter">
            {{#if booked}}
               <p class="rooms-container__date"><span>checked in:</span> {{checkin}}</p> 
               <p class="rooms-container__date"><span>checked out:</span>{{checkout}}</p>           
               <p class="rooms-container__date"><span>adults per room:</span> {{adults}}</p>
            {{else}}
            <a class="rooms-container__btn" href="">View All</a>
            {{/if}}
              
        </div>
        <div class="rooms-container__wrapper">
            {{#each rooms}}
            <div class="rooms-container__room">
                <img class="rooms-container__img" src="/assets/KBG4.jpg" alt="">
                {{#each this}}<h3 class="rooms-container__header">{{this.name}}</h3>{{/each}}
                <p class="rooms-container__parg">location: 3RD  floor</p>
                 <p class="rooms-container__parg">Bed Type:{{#each this}} {{this.kind}}{{/each}}</p> 
                <p class="rooms-container__parg">Room Occupancy:{{#each this}}{{this.bed}} {{/each}} guests</p>
                <a href="" class="primary-btn rooms-container__link">Book Now</a>
            </div>
         
            {{/each}}
        </div>
    </section>
</main>